<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eprayersaspnet</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
    <header class="header">
        <div class="container container_menu">
            <a href="#"> <img src="~/assets/logo.svg" alt=""></a>
            <nav class="box_links_header">
                <a asp-area="" asp-controller="Home" asp-action="E-players" class="links">Início</a></li>
                <a href="#horarios" class="links">Horários</a>
                <a href="#" class="links">Campeonatos</a>
                <a href="#" class="links">Resultados</a>
                <a href="#noticias" class="links">Noticias</a>

                @if (ViewBag.UserName != null)
                {
                   <a>
                       Olá @ViewBag.UserName
                   </a> 
                }
                else
                {
                    <a a asp-area="" asp-controller="Login" asp-action="Index"><i
                    class="fas fa-user-circle"></i></a>
                }
            </nav>
        </div>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer class="footer">
        <div class="container">
            <div class="links_footer">
                <div class="conteudo_footer">
                    <span class="spanzinho">Links úteis</span>
                    <a href="#" class="links_footer">Regras de utilização</a>
                    <a href="#" class="links_footer">Suporte</a>
                    <a href="#" class="links_footer">Central de ajuda</a>
                    <a href="#" class="links_footer">Contato</a>
                </div>
                <div class="conteudo_footer">
                    <span class="spanzinho">Paginas</span>
                    <a href="#" class="links_footer">Inicio</a>
                    <a href="#horarios" class="links_footer">Horários</a>
                    <a href="#" class="links_footer">Campeonatos</a>
                    <a href="#" class="links_footer">Resultados</a>
                    <a href="#noticias" class="links_footer">Noticias</a>
                </div>
                <img src="~/assets/logo.svg" alt="">
                <div class="direita">
                    <div class="Newsletter">
                        <span>Faça parte do nosso clan, assine nossa newsletter!</span>
                        <div class="inputs">
                            <div>
                                <input class="input" type="text" placeholder="E-mail">
                            </div>
                            <div class="cadastrar">
                                <button class="cadastro">Cadastrar</button>
                            </div>
                        </div>
                    </div>
                    <div class="redes_sociais">
                        <span>Siga-nos em:</span>
                        <a href="https://www.youtube.com/playlist?list=PLQc2LfH6uOhLcY9jQchAdVLGtW_8WF_Nz"><img
                                class="rede_social" src="~/assets/youtube.png" alt=""></a>
                        <a href="https://www.instagram.com/senai_info/?hl=pt-br"><img class="rede_social"
                                src="~/assets/instagram.png" alt=""></a>
                        <a href="https://pt-br.facebook.com/senaiinformatica/"><img class="rede_social"
                                src="~/assets/facebook.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
