@{
    ViewData["Title"] = "E-players";
}



<section class="container_banner">
    <img class="img_banner" src="~/assets/imagens.png" alt="">
    <div class="info_banner">
        <h1>Liga E-Players</h1>
        <p>O maior portal de campeonatos online</p>
        <a class="navbar-brand" asp-area="" asp-controller="Equipe" asp-action="CadastroJogador"></a>
        <a asp-area="Link para pagina de equipes" asp-controller="Equipe" asp-action="Index"
            class="btn_inscreverse">Inscreva-se</a>
        </a>
    </div>
</section>
<section class="jogos">
    <div class="container container_jogos">
        <img class="cod" src="~/assets/08e732ca78f5b09eff9b9cb80322084d 1.png" alt="">
        <img class="fifa" src="~/assets/FIFA_logo.png" alt="">
        <img class="valorant" src="~/assets/valorant-logo.png" alt="">
        <img class="cs" src="~/assets/Counter-Strike-Logo.png" alt="">
        <img class="lol" src="~/assets/logo-lol.png" alt="">
    </div>
</section>
<section class="como_participar">
    <div class="ligas">
        <div class="container conteudo_info">
            <div class="texto_participar">
                <span class="tittle_participar">Como participar das ligas?</span>
                <p class="lorem">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de
                    impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma
                    bandeja de tipos e os embaralhou para fazer um livro
                    de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a
                    editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60,
                    quando a Letraset lançou decalques
                    contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de
                    editoração eletrônica como Aldus PageMaker.
                </p>
            </div>
            <img src="~/assets/Lucian psy.png" alt="">
        </div>
    </div>
</section>
<section class="partidas">
    <div class="tudo container">
        <div class="aovivo">
            <span id="spans">ao vivo</span>
            <div class="astraliquid">
                <div class="liquid">
                    <span>Liquid</span>
                    <img src="~/assets/Logo liquid.png" alt="">
                </div>
                <span id="spans">Vs</span>
                <div class="astralis">
                    <img src="~/assets/Logo din safado.png" alt="">
                    <span>Astralis</span>
                </div>
            </div>
            <img src="~/assets/ESL-Pro-League 1.png" alt="">
        </div>
        <hr>
        <div class="embreve">
            <span id="spans">em breve</span>
            <div class="loudpain">
                <div class="loud">
                    <span>Loud</span>
                    <img src="~/assets/brasao-loud 1.png" alt="">
                </div>
                <span id="spans">Vs</span>
                <div class="pain">
                    <img src="~/assets/PAIN 1.png" alt="">
                    <span>Pain</span>
                </div>
            </div>
            <img src="~/assets/CBLOL_2020_Logo 1.png" alt="">
        </div>
    </div>
</section>
<section id="noticias" class="noticiajgs">
    <div class="container_sec container">
        <div class="Noticias">
            <span id="noticia">Noticias</span>
            <div class="article_um">
                <article class="articles">
                    <img src="~/assets/player.jpg" alt="">
                    <span>Titulo</span>
                    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem
                        sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos
                        e os embaralhou para fazer um
                        livro de modelos de tipos.</p>
                </article>
                <article class="articles">
                    <img src="~/assets/o plano 1.png" alt="">
                    <span>Titulo</span>
                    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem
                        sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos
                        e os embaralhou para fazer um
                        livro de modelos de tipos.</p>
                </article>
                <article class="articles">
                    <img src="~/assets/duar bala 1.png" alt="">
                    <span>Titulo</span>
                    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem
                        sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos
                        e os embaralhou para fazer um
                        livro de modelos de tipos.</p>
                </article>
            </div>
            <div class="article_dois">
                <article class="articles">
                    <img src="~/assets/download (2) 1.png" alt="">
                    <span>Titulo</span>
                    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem
                        sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos
                        e os embaralhou para fazer um
                        livro de modelos de tipos.</p>
                </article>
                <article class="articles">
                    <img src="~/assets/download (3) 1.png" alt="">
                    <span>Titulo</span>
                    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem
                        sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos
                        e os embaralhou para fazer um
                        livro de modelos de tipos.</p>
                </article>
                <article class="articles">
                    <img src="~/assets/download (4) 1.png" alt="">
                    <span>Titulo</span>
                    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem
                        sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos
                        e os embaralhou para fazer um
                        livro de modelos de tipos.</p>
                </article>
            </div>
        </div>
        <div id="horarios" class="jogostabela">
            <div class="aovivo_horario">
                <span id="spans">ao vivo</span>
                <div class="astraliquid_horario">
                    <div class="liquid">
                        <span>Liquid</span>
                        <img class="logo_time"
                            src="~/assets/Logo liquid.png" alt="">
                    </div>
                    <span id="spans">Vs</span>
                    <div class="astralis">
                        <img class="logo_time"
                            src="~/assets/Logo din safado.png" alt="">
                        <span>Astralis</span>
                    </div>
                </div>
            </div>
            <div class="embreve_horarios">
                <span id="spans">em breve</span>
                <div class="loudpain_horarios">
                    <div class="loud">
                        <span>Loud</span>
                        <img class="logo_time"
                            src="~/assets/brasao-loud 1.png" alt="">
                    </div>
                    <span id="spans">Vs</span>
                    <div class="pain">
                        <img class="logo_time" src="~/assets/PAIN 1.png"
                            alt="">
                        <span>Pain</span>
                    </div>
                </div>
            </div>

        </div>
</section>
